<nav class="bg-secondaryBlack">
    <div class="mx-auto px-2">
        <div class="relative flex h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-between">
                <div class="sm:ml-6">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="{% url 'core:home' %}" class="flex items-center text-white font-titleDisplay font-bold text-2xl">
                            TODO
                        </a>
                        <!-- <a href="#"
                            class="hover:bg-gray-700 text-gray-300 hover:text-white flex items-center px-3 py-2 rounded-md text-lg font-medium"><span
                                class="material-symbols-rounded mr-1">
                                dashboard
                            </span>Dashboard</a>

                        <a href="#"
                            class="text-gray-300 flex items-center hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-lg font-medium"><span
                                class="material-symbols-rounded mr-1">
                                collections_bookmark
                            </span>Collections</a> -->
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

            </div>
        </div>
    </div>

</nav>